body {
  background-color: #c1c1c1c1;
}
footer {
  width: 1200px;
  height: 400px;
  margin: 100px auto;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.navigation {
  height: 300px;
}
